{% extends 'blog/base_blog.html' %}
{% block title %}
Delete Post
{% endblock %}

{% block content %}
<form action="{{ post.get_delete_url }}" method="post">
    {% csrf_token %}
    <h3>Are you sure you want to delete <b>"{{ post.title|title }}"</b> post?</h3>
    <button type="submit" name="button" class="btn btn-warning"><a href="{{ post.get_absolute_url }}" style="color:#fff; text-decoration:none">Cancel</a></button>
    <button type="submit" name="button" class="btn btn-danger">Delete</button>
</form>
{% endblock %}